body {



    margin: 0;
    padding: 0;
    background: #04A1BF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border: 10px solid rgb(0, 191, 255);
}

header h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
}

.help {
    margin: 30px 0px;
    font-weight: bold;
}


#first {
    margin-top: 10px;
    color: #FFCD5D;
}

#second {
    color: #51DF70;


}


form {
    margin-top: 20px;
    text-align: center;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input {
    border-radius: 10px;
    min-width: 55%;
    padding: 10px;
    border: none;
}

button {
    padding: 8px 15px;
    font-size: 16px;
    background-color: #27ae60;

    color: #fff;

    cursor: pointer;
    border: none;
}








#taskList {
    margin-top: 20px;
}

.task {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    background-color: lightcoral;

}

#counter {
    margin-top: 20px;
    font-size: 18px;
    color: black;


}

.delete-btn {
    cursor: pointer;
    background-color: #ff6961;
    /* Light coral for delete button */
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
    /* Add a transition effect */
}

.delete-btn:hover {
    background-color: #e57373;
    /* Darker shade on hover */
}